#body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
h2{
    background-color:rgb(140, 140, 140);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin: 20px;
}
.container{
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    color: black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}
img{
    width: 100px;
    display: block;
    margin: auto;
}
input,select{
    width: 100px;
    padding: 8px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 5px;
    margin-left: 300px;
}
 button:hover{ 
    background-color: darkblue; 
}