
h1{

    font-size: 32px;
    font-weight: 600;
color: aliceblue;
    background-color: #333;
    text-align: center;
    padding: 10px;
    margin: 0;

    
    
}
div{
    color: cadetblue;
    height: 180px;
    background:white;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    border: 2px solid #ccc;
    border-radius: 12px;
    width: 250px;
    margin: 50px;
}
#Static{
     position: static;
    top: 0px;
    left: 0px;
    background-color: lightgray;
    /* This is the default position value, which means the element will be positioned according to the normal flow of the document */

}
#relative{
    position: relative;
    top: 20px;
    left: 30px;
    background-color: lightcoral;

    /*  This element is positioned relative to its normal position */

}
#absolute{
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: lightgreen;


    /* This element is positioned relative to the nearest positioned ancestor (not static) */

}
#fixed{
    position: fixed;
    top:30px;
    right: 20px;
    background-color: lightblue;
    border: 2px solid black;
    /* This element is positioned relative to the viewport, which means it always stays in the same place even if the page is scrolled */

}
#sticky{
    position: sticky;
    top: 0px;
    background-color: orange;
    border: 2px solid black;

    /* This element is positioned based on the user's scroll position */


}